.work-item.selected.urgency-high{
	border: solid 5px #D50F37;
}

.work-item.selected.urgency-med{
	border: solid 5px #ffff00;
}

.work-item.selected.urgency-low{
	border: solid 5px #2eb82e;
}

.work-item{
	padding-top: 10px;
}

.work-item img{
	padding-bottom: 10px;
}


.subcat .urgency-high.selected p{
	background-color: #D50F37;
}

.subcat .urgency-med.selected p{
	background-color: #ffff00;
}

.subcat .urgency-low.selected p{
	background-color: #2eb82e;
}

.subcat .urgency-none.selected p{
	background-color: #999999;
}


@media(max-width:767px){

	.work-item{
		height: 300px;
	}

	.work-item img{
		max-height: 155px;
		object-fit: fill;
	}
}

@media(min-width:768px){
	.work-item{
		height: 420px;
	}

	.work-item img{
		max-height: 75%;
		object-fit: fill;
	}
}
